bin
obj
/.vs
/AmbermoonTools/.vs
launchSettings.json
/AmbermoonTools/AmbermoonPack/Properties/PublishProfiles/FolderProfile.pubxml.user
/AmbermoonTools/AmbermoonPack/AmbermoonPack.csproj.user
/AmbermoonTools/AmbermoonEventEditor/AmbermoonEventEditor.csproj.user
/AmbermoonTools/AmbermoonEventEditor/Properties/PublishProfiles/FolderProfile.pubxml.user
/AmbermoonTools/AmbermoonTextManager/AmbermoonTextManager.csproj.user
/AmbermoonTools/AmbermoonTextManager/Properties/PublishProfiles/FolderProfile.pubxml.user
