<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<config>
		<add key="no_proxy" value="https://api.nuget.org/v3/index.json" />
		<add key="http_proxy" value="" />
		<add key="https_proxy" value="" />
	</config>
	<packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>